<a href="https://colab.research.google.com/github/rajeshmore1/Part-1-Basic-Operations-In-Pandas/blob/main/Basic_Operations_in_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
mypath= '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 1/Week 3/Day 6/ICC T20 Data/Copy of International_T20_Data.csv'
iccdf=pd.read_csv(mypath)

In [ ]:
iccdf.head()

                                             innings  ...  info.outcome.bowl_out
0  [{'1st innings': {'team': 'Australia', 'delive...  ...                    NaN
1  [{'1st innings': {'team': 'Australia', 'delive...  ...                    NaN
2  [{'1st innings': {'team': 'Australia', 'delive...  ...                    NaN
3  [{'1st innings': {'team': 'Hong Kong', 'delive...  ...                    NaN
4  [{'1st innings': {'team': 'Zimbabwe', 'deliver...  ...                    NaN

[5 rows x 27 columns]

In [ ]:
iccdf[2:5]

                                             innings  ...  info.outcome.bowl_out
2  [{'1st innings': {'team': 'Australia', 'delive...  ...                    NaN
3  [{'1st innings': {'team': 'Hong Kong', 'delive...  ...                    NaN
4  [{'1st innings': {'team': 'Zimbabwe', 'deliver...  ...                    NaN

[3 rows x 27 columns]

In [ ]:
iccdf.columns

Index(['innings', 'meta.data_version', 'meta.created', 'meta.revision',
       'info.dates', 'info.gender', 'info.match_type',
       'info.outcome.by.wickets', 'info.outcome.winner', 'info.overs',
       'info.player_of_match', 'info.teams', 'info.toss.decision',
       'info.toss.winner', 'info.umpires', 'info.venue', 'info.city',
       'info.outcome.by.runs', 'info.match_type_number', 'info.neutral_venue',
       'info.outcome.method', 'info.outcome.result', 'info.outcome.eliminator',
       'info.supersubs.New Zealand', 'info.supersubs.South Africa',
       'info.bowl_out', 'info.outcome.bowl_out'],
      dtype='object')

In [ ]:
iccdf['info.teams']

0                    ['Australia', 'Sri Lanka']
1                    ['Australia', 'Sri Lanka']
2                    ['Australia', 'Sri Lanka']
3                      ['Ireland', 'Hong Kong']
4                         ['Zimbabwe', 'India']
                         ...
1412                  ['Pakistan', 'Sri Lanka']
1413                    ['Bangladesh', 'India']
1414    ['United Arab Emirates', 'Netherlands']
1415                 ['Sri Lanka', 'Australia']
1416                 ['Sri Lanka', 'Australia']
Name: info.teams, Length: 1417, dtype: object

In [ ]:
type(iccdf['info.teams'])

pandas.core.series.Series

In [ ]:
iccdf[['info.teams', 'info.outcome.result']]

                                   info.teams info.outcome.result
0                  ['Australia', 'Sri Lanka']                 NaN
1                  ['Australia', 'Sri Lanka']                 NaN
2                  ['Australia', 'Sri Lanka']                 NaN
3                    ['Ireland', 'Hong Kong']                 NaN
4                       ['Zimbabwe', 'India']                 NaN
...                                       ...                 ...
1412                ['Pakistan', 'Sri Lanka']                 NaN
1413                  ['Bangladesh', 'India']                 NaN
1414  ['United Arab Emirates', 'Netherlands']                 NaN
1415               ['Sri Lanka', 'Australia']                 NaN
1416               ['Sri Lanka', 'Australia']                 NaN

[1417 rows x 2 columns]

In [ ]:
iccdf.shape

(1417, 27)

In [ ]:
iccdf['info.outcome.by.runs'].max()

249.0

In [ ]:
iccdf['info.outcome.by.runs'].mean()

39.08876560332871

In [ ]:
iccdf['info.outcome.by.runs'].min()

1.0

In [ ]:
iccdf['info.outcome.by.runs'].std()

33.3857570887769

In [ ]:
iccdf.describe()

       meta.data_version  ...  info.neutral_venue
count       1.417000e+03  ...               328.0
mean        9.000000e-01  ...                 1.0
std         5.108829e-15  ...                 0.0
min         9.000000e-01  ...                 1.0
25%         9.000000e-01  ...                 1.0
50%         9.000000e-01  ...                 1.0
75%         9.000000e-01  ...                 1.0
max         9.000000e-01  ...                 1.0

[8 rows x 7 columns]

In [ ]:
iccdf[iccdf['info.outcome.by.runs']==iccdf['info.outcome.by.runs'].max()]

                                               innings  ...  info.outcome.bowl_out
688  [{'1st innings': {'team': 'Bangladesh', 'deliv...  ...                    NaN

[1 rows x 27 columns]

In [ ]:
iccdf['info.city'][iccdf['info.outcome.by.runs']==iccdf['info.outcome.by.runs'].max()]

688    Pokhara
Name: info.city, dtype: object

In [ ]:
iccdf.set_index(('meta.created'),inplace=True)

In [ ]:
iccdf.loc['2017-02-23']

                                                        innings  ...  info.outcome.bowl_out
meta.created                                                     ...
2017-02-23    [{'1st innings': {'team': 'Australia', 'delive...  ...                    NaN
2017-02-23    [{'1st innings': {'team': 'New Zealand', 'deli...  ...                    NaN

[2 rows x 26 columns]